@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 390px;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* .filter-preview:nth-child(1){
    transform: rotate(-2deg)
}
.filter-preview:nth-child(2){
    transform: rotate(-1deg)
} */
.filter-preview:nth-child(4){
    height: 95px;
}
/* .filter-preview:nth-child(7){
    transform: rotate(2deg)
}.filter-preview:nth-child(6){
    transform: rotate(1deg)
} */
.slidecontainer {
    width: 100%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #8a0075;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 0;
    background-image: url('./imgs/logo.png'); /* Update this path if necessary */
    background-size: cover;
    cursor: pointer;
}
